/* reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 380px;
    background-color: #f0f0f0;
    text-align: center;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

#site-name {
    padding: rem;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.7rem;
    margin-left: 10px;
}

#nav {
    padding: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex; /* Organiza os itens horizontalmente */
}

ul#nav li {
    font-size: 1.3rem;
    margin: auto 10px;
}

nav ul#nav li:not(:last-child)::after {
        content: " / ";
        margin-left: 10px;
}

ul#nav li a {
    text-decoration: none;
    color: black;
}

ul#nav li a:hover {
    text-decoration: none;
    color: gray;
}


div[id="main-topic"] h1{
    font-size: 3em;
}
div[id="main-topic"] div {
    padding-top: 1rem;
    color:rgb(96, 100, 100);
}

hr {
    padding: 0;
    margin: 0;
}

.angular-hr {
    border: 1px solid black;
    transform: rotate(-0.6deg);
    position: relative;
    bottom: -3px;
    right: calc(99.5vw - 100vw);
    width: 99%;
}

.projects-container {
    display: grid;
    grid-template-columns: 0.97fr 1.5fr 1.25fr;
    grid-template-rows: 15rem 15rem;
    grid-template-areas: 
        "column1 column2 column3"
        "column1 column2 column3"
    ;
    margin-inline: 0;
    font-size: 1.3rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.projects-container hr {
    position: relative;
    left: -2rem;
    width: 125%;
}

.projects-container > *,
.mid-list > *{
    display: grid;
    text-align: left;
}

.mid-list {
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr;
}

.column-one {
    grid-area: column1;
}

.column-two {
    grid-area: column2;
}

.column-three {
    grid-area: column3;
}


.projects-container ul {
    list-style: none;
}

.projects-section {
    
    display: grid;
    gap: 1rem;
    place-content: start;
    padding: 2rem 1rem  0  2rem;
   
}

.project-list {
    display: grid;
    gap: 0.8rem;
    font-size: 1.35rem;
}

.mid-list {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.mid-list > * ,
.mid-list > * > *{
    display: grid;
    gap: 1rem;
    place-content: start;
}

.work-experience-section {
    padding: 2.0rem 1rem  0  1.5rem;
}

.opensource-work-section {
    border-top: 2px solid black;
    padding: 1.3rem 1rem  0  1.5rem;
}

.education-section ul{
    
    list-style: "- ";
}

.education-section {
    
    padding: 2.3rem 1rem  0  1.5rem;
    display: grid;
    gap: 1rem;
    place-content: start;
}

.education-section p{
    padding: 0.5rem 0;
}

.review-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 14.5rem;
}

.review-section > *,
.review-container > * {
    display: grid;
}

.review-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 55rem;
    gap: 2rem;
    margin-top: 1rem;
    margin-inline: 3.5rem;

}

.review-section h2 {
    padding: 2.3rem 1rem  0  2.8rem;
}

.review-item {
    display: grid;
    place-content: center;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 50px;
    padding-inline: 1.5rem;
    font-size: 1.2rem;
} 

.gray {
    color:silver;
}
